[submodule "azure-c-shared-utility"]
	path = azure-c-shared-utility
	url = https://github.com/Azure/azure-c-shared-utility.git
[submodule "azure-uamqp-c"]
	path = azure-uamqp-c
	url = https://github.com/Azure/azure-uamqp-c.git
[submodule "deps/umock-c"]
	path = deps/umock-c
	url = https://github.com/Azure/umock-c
[submodule "deps/azure-c-testrunnerswitcher"]
	path = deps/azure-c-testrunnerswitcher
	url = https://github.com/Azure/azure-c-testrunnerswitcher
[submodule "deps/azure-ctest"]
	path = deps/azure-ctest
	url = https://github.com/Azure/azure-ctest
